body{
    background-color: rgb(226, 222, 222);

}


#navsub{
    background-color: white;
    margin: 3px 0px 30px 0px;
}

#div1{
    background-color: white;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 1177px;
}

#label1{
    border: 2px solid orange;
    color: orange;
    border-radius: 4px;
    
}
#tabela1{
    margin-top: 20px;
    padding: auto;
}
#imagem1{
    height: 300px;
    width: 1200px;
}

