body{
    background-color: #F1F1F1;
    font: 13px foco, "Open Sans", sans-serif;
    

}


#navsub{
    background-color: rgb(242, 242, 242);
    margin: 3px 0px 30px 240px;
    
}

 #navsub a {
    color: rgb(124,131,165,1);
    text-decoration: none;
}
#navsub a:visited {
    color: rgb(20, 60, 141);
    text-decoration: none;
}
#div1 p {
    color: rgb(124,131,165,1); /*COR DO PARAGRAFO EM TOM FRACO   */
}

#div1{
    background-color: white;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 1375px;
    margin-left: 240px;
     margin: 0 auto; /*CENTRALIZAR DIV  */
}

#label1{
    border: 2px solid orange;
    color: orange;
    border-radius: 4px;
    
}
#tabela1{
    margin-top: 20px;
    text-align: center;
    width: 1110px;
    justify-content: center;
    padding-left: 240px;
    
}
#imagem1{
    height: 300px;
    width: 1375px;
    
    
}

  #lateralultra{
    display: flex;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    flex-direction: column;
    float: left;
    margin: 20px 20px 20px 240px;
    padding-left: 10px;
  }

  .itemultra {
    margin: 10px;
    padding-left: 10px;
    
  }

.vendas {
    float: left;
    border: 1px solid red;
    width: 1075px;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 20px;
}

.filtrovenda {
   text-align: right;
   margin: 35px;
   color: rgb(124,131,165,1);
   font: 15px;
}

.filtrovenda select {
    padding: 7px 5px;
    letter-spacing: 2px;
    font: 15px foco bold #0f1453;
}
.filtrovenda option {
    background-color: white;
    padding: 7px 5px;
    font: 15px foco bold #0f1453;
    text-align: center;
}

#barravenda {
    display: flex;
    flex-direction: row;
}

.itemvenda {
    margin: 10px;
    border: 1px solid black;
    width: 228px;
    height: 422px;
    

  }

  .vendas h3 {
    margin-left: 15px;
    color:#1A223F;
  }

  #lateralultra h3 {
    margin-left: 15px;
    color:#1A223F;
    text-align: center;
  }

  .btn {
    border: none;
    width: 200px;
    background-color: white;
    text-align: left;
    cursor: pointer;
  }
